<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    Conversation opened. 1 read message.

    Skip to content
    Using Gmail with screen readers
    Search



    Click here to enable desktop notifications for Gmail.   Learn more  Hide
    Gmail
    COMPOSE
    Labels
    Inbox (638)
    Starred
    Sent Mail
    Drafts (11)
    mod8elwood@gmail.com
    More
    Hangouts




    More
    1 of 982

    Print all In new window
    Fwd:
    Inbox
    x

    Harkirat gill
    Attachments10:51 PM (11 hours ago)

    to me
    ---------- Forwarded message ----------
    From: Harkirat gill <harkiratgill0003@gmail.com>
    Date: Thu, May 18, 2017 at 9:11 PM
    Subject:
    To: Sherry Singh <sherrysingh711@gmail.com>
    12 Attachments


    Click here to Reply or Forward
    6.71 GB (44%) of 15 GB used
    Manage
    Terms - Privacy
    Last account activity: 6 minutes ago
    Open in 1 other location  Details
    Harkirat gill's profile photo
    Harkirat gill
    harkiratgill0003@gmail.com

    Recent photos
    View photo in message
    Show details


    <?xml version="1.0" encoding="utf-8"?>
    <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        tools:context="a1691705.tinder.Swipefirst"
        android:background="@drawable/swipe">
        <ImageView
            android:layout_width="40dp"
            android:layout_height="40dp"
            android:layout_marginTop="20dp"
            android:id="@+id/imageView7"
            android:layout_below="@+id/linearLayout2"
            android:layout_toEndOf="@+id/linearLayout2"
            android:onClick="Mysettings"/>
        <ImageView
            android:layout_width="40dp"
            android:layout_height="40dp"
            android:layout_alignTop="@+id/imageView7"
            android:layout_alignParentEnd="true"
            android:layout_marginEnd="8dp"
            android:onClick="mymessage"
            android:id="@+id/imageView8" />

        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:orientation="horizontal"
            android:layout_marginTop="70dp"
            android:id="@+id/linearLayout">

            <ImageView
                android:id="@+id/katrina"
                android:layout_width="wrap_content"
                android:layout_height="400dp"
                android:scaleType="fitXY"
                android:src="@drawable/katrinakaif" />

        </LinearLayout>
        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout2">


        </LinearLayout>

        <ImageView
            android:id="@+id/imageView4"
            android:layout_width="70dp"
            android:layout_height="70dp"
            android:layout_marginStart="33dp"
            android:onClick="swipe"
            android:layout_alignParentBottom="true"
            android:layout_alignParentStart="true"
            android:layout_marginBottom="24dp" />

        <ImageView
            android:id="@+id/imageView5"
            android:layout_width="70dp"
            android:layout_height="70dp"
            android:layout_alignTop="@+id/imageView4"
            android:layout_centerHorizontal="true"
            android:onClick="swipe1" />

        <ImageView
            android:id="@+id/imageView6"
            android:layout_width="70dp"
            android:layout_height="70dp"
            android:layout_alignTop="@+id/imageView5"
            android:layout_toStartOf="@+id/imageView8"
            android:onClick="swipe2" />
    </RelativeLayout>
    activity_swipefirst.xml
    Open with
    Displaying activity_swipefirst.xml.
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <?xml version="1.0" encoding="utf-8"?>
        <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:app="http://schemas.android.com/apk/res-auto"
            xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            tools:context="a1691705.tinder.Swipefirst"
            android:background="@drawable/swipe">
            <ImageView
                android:layout_width="40dp"
                android:layout_height="40dp"
                android:layout_marginTop="20dp"
                android:id="@+id/imageView7"
                android:layout_below="@+id/linearLayout2"
                android:layout_toEndOf="@+id/linearLayout2"
                android:onClick="Mysettings"/>
            <ImageView
                android:layout_width="40dp"
                android:layout_height="40dp"
                android:layout_alignTop="@+id/imageView7"
                android:layout_alignParentEnd="true"
                android:layout_marginEnd="8dp"
                android:onClick="mymessage"
                android:id="@+id/imageView8" />

            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:layout_marginTop="70dp"
                android:id="@+id/linearLayout">

                <ImageView
                    android:id="@+id/katrina"
                    android:layout_width="wrap_content"
                    android:layout_height="400dp"
                    android:scaleType="fitXY"
                    android:src="@drawable/katrinakaif" />

            </LinearLayout>
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayout2">


            </LinearLayout>

            <ImageView
                android:id="@+id/imageView4"
                android:layout_width="70dp"
                android:layout_height="70dp"
                android:layout_marginStart="33dp"
                android:onClick="swipe"
                android:layout_alignParentBottom="true"
                android:layout_alignParentStart="true"
                android:layout_marginBottom="24dp" />

            <ImageView
                android:id="@+id/imageView5"
                android:layout_width="70dp"
                android:layout_height="70dp"
                android:layout_alignTop="@+id/imageView4"
                android:layout_centerHorizontal="true"
                android:onClick="swipe1" />

            <ImageView
                android:id="@+id/imageView6"
                android:layout_width="70dp"
                android:layout_height="70dp"
                android:layout_alignTop="@+id/imageView5"
                android:layout_toStartOf="@+id/imageView8"
                android:onClick="swipe2" />
        </RelativeLayout>
    </application>

</manifest>